[submodule "mission"]
	path = mission
	url = https://github.com/communityus-private/Lacuna-Mission.git
[submodule "assets"]
	path = assets
	url = https://github.com/communityus-private/Lacuna-Assets.git
[submodule "var/www/public/starmap/yui"]
	path = var/www/public/starmap/yui
	url = https://github.com/bp-tags/Lacuna-Web-Client.git
[submodule "var/www/public/starmap"]
	path = var/www/public/starmap
	url = git@github.com:bp-tags/Lacuna-Web-Client.git
